.back{
  min-width: 110vh;
  max-width: 110vh;
  min-height: 90vh;
}
.header{
  padding: 0.625rem 1.25rem;
}
.total{
  display:grid;
  grid-template-columns: auto auto;
}

.info{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.625rem;
  padding: 0.938rem;
  box-shadow: 0px 0px 0.625rem #e4e3e3;
  min-width: fit-content;
  height: 20rem;
  border-radius: 0.25rem;
}

.icon_edit, .icon_delete{
  display: none;
}
.container_info:hover .icon_edit{
  display: block;
  cursor: pointer;
  margin-top: 30px;
  
}
.container_info:hover .icon_delete{
  display: block;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 15px;
  
}

.container_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


/*.icon_edit{
  cursor: pointer;
  margin-top: 30px;
}

.icon_delete{
  cursor: pointer;
  margin-top: 30px;
  margin-left: 15px;
  
}*/

.btn_edit2{

  margin: 10px;
}

.btn_disable2{
  margin: 10px;
  color: red;

}
.btn_edit{
  grid-row: 8;
  grid-column: 2;
  display: block;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.btn_disable{
  grid-row: 8;
  grid-column: 5;
  display: block;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.description{
  padding: 1.25rem;
  display: grid;
  grid-template-columns: auto auto;
  gap:0.625rem;
  grid-template-rows: auto auto auto auto;
  align-content: space-between ;
}
.price{
  grid-column: 1/5;
}
.size{
  display: grid;
  gap: 0.625rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: end;
  grid-column: 5;
}
.size span{ 
  justify-self: end;
  grid-column: 4;
}
.zona{
  margin: 0px;
  grid-column: 1/6;
  grid-row: 3;
}
.position_bed{
  grid-row: 5;
  grid-column: 1;
  text-align: end;
}
.beds{
  grid-row: 5;
  font-size: 1.125rem;
  grid-column: 2/3;
}
.position_bathroom{
  grid-row: 6;
  grid-column: 1;
  text-align: end;
}
.bathrooms{
  grid-row: 6;
  font-size: 1.125rem;
  grid-column: 2/3;
}


/*---------------------------*/
li{
  list-style-type: none;
}

button{
  cursor: pointer;
}
.container_slidephotos{
  position: relative;
  width: 20rem;
  height: 20rem;
}
.photos{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.photo{
  width: 100%;
  height: 100%;
  display: none;
}
.photo[photo-active]{
  display: block;
}

.photo img{
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  /*object-fit: cover;
  object-position: center;
  */
}
.previous_btn,
.next_btn{
  position: absolute;
  top: 75%;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  color: #41049e;
  border-style: none;
  /*background: transparent;*/
  background: #f3eee8e0;
  border-radius: 0.25rem;
  

}
.next_btn{
  right: -5%;
}

.previous_btn{
  left: -5%;
}
.previous_btn:hover,
.next_btn:hover{
  background: #f9a826cc;
  
}
/*---------------------------*/
