/*---------------------------*/
/*Estilos del menu*/
.container{
    min-width: 99vh;
    padding: 0rem;
  }
  .back{
    width: 91.5vh;
    height: 85vh;
  }
  .header {
    background: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 5.313rem;
    padding:0.625rem 0.313rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h2,h3,h4,p{
    color: #333;
    margin-block: 0px;
  }
  .title3{
    font-weight: normal;
  }
  .title{
    font-size: 1.875rem;
    color: #F9A826;
  }
  .header .title:hover{
    color: #5f13d1;
  }
  .navs{
    list-style: none;
  }
  .navs li {
    display: inline-block;
    padding: 0.625rem 0.938rem;
    border-radius: 0.313rem;
  }
  .border_options:hover{
    border: solid;
    border-color: #F9A826;
  }
  .login{
  background: #F9A826;
  color: #41049e;
  font-size: 1rem;
  font-weight: bold;  
  border: none;
  
  }
  .login:hover{
  background: #41049e;
  color: #F9A826;
  border: none;
  }
  
  /*---------------------------*/