.search_container{
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 0.75rem;

}
.search_input{
    width: 100%;
    font-size: 1rem;
    color: #333230;
    background-color: #f3eee8;
    height: 2.5rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    border: none;
    padding-left: 3rem;
    margin-top: 0.5rem;
  }
  
input:focus{
    outline-color: #F9A826;
  }

  .input_svg{
    position: absolute;
    top: 63%;
    left: 1.2%;
  }


.container_btnBuscar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1.25rem;
}
.btnBuscar{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #41049e;
    border-radius: 0.25rem;
    background: #F9A826;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0.625rem 1.625rem;
    font-weight: bold;  
    border: none;
}

.btnBuscar:hover{
    background: #41049e;
    color: #F9A826;
  }
.ready_list{
  margin-top: 3.75rem;
  text-align: center;
  flex-wrap: wrap;
}

.ready_filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  text-align: center;
}
.ready_filter img {
  height: 13rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.ready_filter p {
  padding: 1.25rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}
.ready_filter h2{
  margin: 1.875rem;
}
.ready_filter h3{
  margin: 1.875rem;
}